.wrapper {
  position: relative;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.1em;
  overflow-x: hidden;
  min-width: 320px;
  margin: 0;
}

.container {
  padding: 0 20px;
}

.header {
  background-color: #eeeff1;
}
.header__content {
  padding-top: 40px;
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu-mob {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}
.header__menu-mob-item {
  border-radius: 10px;
  display: block;
  height: 3px;
  background-color: #000;
}
.header__menu {
  display: none;
}

.header__menu-mob-block {
  font-size: 18px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100vh;
  background-color: rgba(52, 84, 122, 0.9);
  padding: 50px 25px 0 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
}
.header__menu-mob-block .header__menu-mob__inner {
  position: relative;
}
.header__menu-mob-block .header__menu-mob__inner .header__menu-close {
  font-size: 48px;
  font-weight: bold;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: #fff;
  right: 0;
  top: -20px;
  cursor: pointer;
}
.header__menu-mob-block .header__menu-burg {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
.header__menu-mob-block .header__menu-burg a {
  color: #eeeff1;
}
.header__menu-mob-block .header__menu-burg .header__menu-item-burg {
  margin-bottom: 25px;
}
.header__menu-mob-block .header__menu-burg .header__menu-items-burg {
  overflow: auto;
}
.header__menu-mob-block .header__menu-close {
  position: absolute;
}
.header__menu-mob-block.active {
  -webkit-transform: translatex(0);
          transform: translatex(0);
}

.logo__link img {
  max-width: 98px;
}

@media (min-width: 768px) {
  ._anim-items {
    opacity: 0;
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
    -webkit-transition: 0.8s linear;
    transition: 0.8s linear;
  }

  ._anim-items.show {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }

  .header__menu-mob-block {
    display: none;
  }

  .header__content {
    padding-top: 55px;
  }

  .container {
    font-size: 14px;
    padding: 0 50px;
  }

  .header__menu-mob {
    display: none;
  }

  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 15px;
    font-weight: 500;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__menu-items li {
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding-bottom: 7px;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
  }
  .header__menu-items li:hover a {
    color: #34547a;
  }
  .header__menu-items li a {
    color: #000;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .header__menu-item + .header__menu-item {
    margin-left: 20px;
  }
}
@media (min-width: 1024px) {
  .container {
    font-size: 16px;
    max-width: 870px;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1050px;
  }

  .header__menu-item + .header__menu-item {
    margin-left: 36px;
  }
}
@media (min-width: 1920px) {
  .container {
    min-width: 1100px;
  }

  .header__menu-item + .header__menu-item {
    margin-left: 42px;
  }
}
.description__block {
  color: #727272;
  text-align: center;
}

.design {
  background-color: #eeeff1;
  min-height: 600px;
  padding: 30px 0;
}
.design .container {
  min-height: 600px;
}
.design-block {
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.design-block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 280px;
}
.design__title h1 {
  font-size: 32px;
  line-height: 59px;
}
.design__laptop img {
  width: 250px;
  max-width: 100%;
  height: auto;
}
.design__description {
  font-size: 14px;
  line-height: 23px;
}
.design__write-btn {
  border: 2px solid transparent;
  cursor: pointer;
  display: block;
  padding: 20px 25px;
  font-size: 14px;
  background-color: #34547a;
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .design-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .design-block__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .design__laptop img {
    width: 270px;
  }
  .design-block__text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 375px;
    padding-left: 15px;
  }
  .design__description {
    font-size: 16px;
    text-align: left;
  }
  .design__write-btn {
    margin-top: 25px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .design__write-btn:hover {
    color: #34547a;
    background-color: transparent;
    border: 2px solid #34547a;
  }
  .design__title h1 {
    font-size: 40px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1024px) {
  .design__laptop img {
    width: 330px;
  }
  .design__title h1 {
    font-size: 46px;
  }
  .design-block__text {
    min-width: 420px;
    padding-left: 25px;
  }
  .design__description {
    text-align: left;
  }
  .design__write-btn {
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .design__title h1 {
    margin-bottom: 40px;
    font-size: 48px;
  }
  .design-block__text {
    min-width: 520px;
    padding-left: 25px;
  }
  .design__description {
    text-align: left;
  }
  .design__write-btn {
    margin-top: 40px;
    font-size: 16px;
  }
}
.about {
  padding: 48px 0;
}
@media (min-width: 1024px) {
  .about .container {
    max-width: 540px;
  }
}

.title__block {
  color: #000;
  margin-bottom: 40px;
  font-size: 32px;
  font-style: normal;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
}

@media (min-width: 768px) {
  .description__person {
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .about {
    padding: 100px 0;
  }

  .title__block {
    margin-bottom: 50px;
  }
}
.projects {
  background-color: #34547a;
  padding: 50px 0 50px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  width: 50%;
  padding: 0 15px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profect__item-logo {
  font-size: 42px;
}

.project__item-descr {
  color: #fff;
  margin-left: 7px;
}

.project__descr-count {
  font-size: 21px;
  line-height: 25px;
}

@media (min-width: 768px) {
  .projects {
    padding: 60px 0 60px;
  }

  .row {
    margin: 0 -35px;
  }

  .col {
    width: 33.333%;
    padding: 0 15px;
    margin: 15px 0;
  }

  .project__item-descr {
    margin-left: 20px;
  }
}
@media (min-width: 1280px) {
  .projects {
    padding: 100px 0 100px;
  }

  .row {
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .col {
    width: 16.666%;
    padding: 0;
  }

  .container {
    padding: 0;
  }
}
@media (min-width: 1920px) {
  .projects {
    padding: 100px 0 100px;
  }

  .projects__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.skills {
  padding: 40px 0;
  font-size: 14px;
  color: #727272;
}

.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__inf {
  margin-bottom: 40px;
  width: 100%;
  max-width: 330px;
}

.skills__bar-item {
  padding: 7px 0;
}

.skills__bar-item__text {
  margin-bottom: 14px;
}

.skills__bar-item__bar {
  height: 4px;
  background-color: #c4c4c4;
  position: relative;
}
.skills__bar-item__bar::before {
  position: absolute;
  content: "";
  width: 70%;
  background-color: #34547a;
  left: 0;
  bottom: 0;
  top: 0;
}

.skills__img img {
  max-width: 330px;
}

@media (min-width: 768px) {
  .skills {
    padding: 65px 0;
  }
  .skills__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skills__inf {
    max-width: 308px;
  }
}
@media (min-width: 1280px) {
  .skills {
    padding: 100px 0;
  }
  .skills__inf h2 {
    text-align: left;
  }
  .skills__bar-item__text {
    margin-bottom: 20px;
  }
  .skills__bar-item {
    padding-bottom: 30px;
  }
  .skills__img img {
    margin-left: 15px;
    max-width: 500px;
  }
}
.work {
  padding: 45px 0;
  background-color: #eeeff1;
}
.work__movie-block {
  margin-top: 35px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.work__movie-block::before {
  cursor: pointer;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  content: "";
  background: url(../img/play.svg) center no-repeat;
  background-size: contain;
  width: 36px;
  height: 36px;
  z-index: 2;
}
.work__movie-block img {
  width: 100%;
  max-width: 370px;
}

@media (min-width: 768px) {
  .work {
    padding: 65px 0;
  }

  .work__movie-block {
    margin-top: 50px;
    padding: 0 50px;
  }
  .work__movie-block::before {
    width: 60px;
    height: 60px;
  }
  .work__movie-block img {
    max-width: 100%;
  }
}
@media (min-width: 1280px) {
  .work {
    padding: 100px 0;
  }

  .work__movie-block {
    padding: 0;
    margin: 55px auto 0;
    max-width: 1050px;
  }
  .work__movie-block::before {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 1920px) {
  .work__movie-block {
    max-width: 1100px;
  }
}
.gallery .row-gal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery .col-gal {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  position: relative;
  cursor: pointer;
}
.gallery .col-gal img {
  width: 100%;
}
.gallery .col-gal::before, .gallery .col-gal .gallery__item .icon-view {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.gallery .col-gal::before {
  content: "";
  height: 100%;
  background-color: rgba(52, 84, 122, 0.8);
}
.gallery .col-gal:hover::before, .gallery .col-gal:hover .gallery__item .icon-view {
  visibility: visible;
  opacity: 1;
}
.gallery__item .icon-view {
  font-size: 42px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 768px) {
  .gallery .col-gal {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
  .gallery .col-gal:nth-child(2n) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (min-width: 1280px) {
  .gallery__item .icon-view {
    font-size: 54px;
  }
}
.micr__inner {
  padding-top: 40px;
}

.row-micr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.col-micr {
  padding: 0 15px 40px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1024px) {
  .row-micr {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .col-micr {
    padding: 0;
  }

  .micr__inner {
    padding: 80px 0;
  }

  .micr__item img {
    max-width: 180px;
  }
}
@media (min-width: 1280px) {
  .micr__inner {
    padding: 100px 0;
  }

  .micr__item img {
    max-width: 225px;
  }
}
@media (min-width: 1920px) {
  .micr__item img {
    max-width: 255px;
  }
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-block {
  margin: 0 auto;
}

.form-field {
  width: 100%;
  margin-top: 15px;
  border: 0;
  padding-left: 25px;
  color: #5f5d5d;
  font-size: 14px;
}

.form__inputs {
  width: 100%;
  margin-top: 35px;
}

.form input {
  height: 50px;
}

.form button {
  margin-top: 15px;
}

.form textarea {
  padding-top: 17px;
}

.form-field:focus {
  outline: 2px solid #34547a;
}

@media (min-width: 768px) {
  .form__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form__inputs .form-input + .form-input {
    margin-left: 15px;
  }
}
@media (min-width: 1024px) {
  .form__inputs {
    margin-top: 65px;
  }
  .form__inputs .form-input + .form-input {
    margin-left: 20px;
  }
}
@media (min-width: 1280px) {
  .form button {
    margin-top: 50px;
  }

  .form__inputs {
    margin-top: 65px;
  }
}
.footer {
  background-color: #34547a;
  padding: 22px 0;
  color: #fff;
}

.footer__inner,
.footer__text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__network-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer__network-items .icon-vk + .icon-vk {
  margin-left: 15px;
}

.icon-vk {
  font-size: 18px;
  cursor: pointer;
}

.footer__name h3 {
  font-size: 21px;
  margin: 20px 0;
}

.footer__rev {
  font-size: 13px;
}

@media (min-width: 768px) {
  .footer__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__network-items {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__name h3 {
    margin-top: 0;
  }

  .icon-vk {
    font-size: 21px;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding: 50px 0;
  }

  .icon-vk {
    font-size: 24px;
  }
}
@media (min-width: 1920px) {
  .footer {
    padding: 56px 0;
  }

  .icon-vk {
    font-size: 28px;
  }
}
